* {
	padding: 0;
	margin: 0;
}

header {
	height: 500px;
	background-image: url("../img/bg_1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.logo {
	width: 268px;
	text-align: center;
	margin: 0 auto;
	padding: 30px;
	color: black;
	text-shadow: 1px 1px 5px white;
}

.logo .cat {
	font-size: 1em;
	display: table-row;
	white-space: nowrap;
}

.logo .line {
	display: table-cell;
	width: 50%;
	padding: 0 10px;
}

.logo .line:after {
	display: inline-block;
	width: 100%;
	content: ".";
	font-size: 0;
	color: transparent;
	height: 2px;
	background: #666;
	opacity: 0.43;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.logo .txt {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
}

.logo .brand-name {
	font-size: 2em;
	text-transform: uppercase;
}

.logo .brand-slog {
	font-size: 1em;
}

.label {
	height: 114px;
	width: 114px;
	line-height: 114px;
	text-align: center;
	border-radius: 50%;
	background-color: black;
	color: white;
	position: absolute;
	top: 160px;
	left: 10%;
}

.label p {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.label .num {
	font-size: 3em;
	font-weight: bold;
}

.label .perc {
	font-size: 2em;
	font-weight: bold;
}

.label .sale {
	font-size: 1em;
}

.quote {
	position: relative;
	color: white;
	width: 293px;
	margin: 180px auto 0 auto;
}

.quote p:nth-child(1) {
	font-size: 15em;
	position: absolute;
	opacity: 0.54;
	top: -77px;
	left: 0;
}

.quote p:nth-child(2) {
	padding-left: 18px;
	font-size: 3em;
}

.quote p:nth-child(3) {
	padding: 5px 0 10px 18px;
	font-size: 1em;
	font-weight: bold;
}

.quote p:nth-child(4) {
	font-size: 0.8em;
}

footer {
	height: 760px;
	background-image: url("../img/bg_2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.watch {
	padding-top: 50px;
	width: 344px;
	position: relative;
	left: -22px;
}

.price {
	width: 274px;
	margin: 20px auto 30px auto;
	text-align: center;
	color: white;
	font-family: Arial;
}

.price p:nth-child(1) {
	font-size: 1.2em;
}

.price p:nth-child(2) {
	font-size: 3em;
	font-weight: bold;
}

.price span {
	font-size: 0.7em;
}

.price p:nth-child(3) {
	font-size: 1.2em;
}

.counter {
	height: 100px;
	width: 290px;
	margin: 0 auto 30px auto;
	border: 1px solid #888;
}

.clock {
	width: 274px;
	height: 58px;
	margin: 25px auto;
}

.clock div {
	display: inline-block;
}

.counter .num-plate {
	background: black;
	border-radius: 4px;
	width: 65px;
	text-align: center;
	margin-right: 10px;
}

.counter .num-plate span {
	color: white;
	line-height: 54px;
	font-size: 2.5em;
	font-family: Arial;
}

.counter .plate3 {
	margin-right: 0;
}

.counter .colon {
	font-size: 2.5em;
	margin-right: 10px;
}

.btn {
	width: 300px;
	height: 67px;
	margin-left: auto;
	margin-right: auto;
	background-color: #d97428;
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 5px 5px black;
	outline: 0;
	transition: all .05s linear;
}

.btn:active {
	box-shadow: 0 2px 2px black;
	transform: translateY(3px);
}

.btn a {
	text-decoration: none;
	display: block;
	color: black;
}

.btn span {
	text-transform: uppercase;
	letter-spacing: 8px;
	font-family: sans-serif;
	font-size: 32px;
	line-height: 67px;
}